@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

/*

General


*/

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}


a{
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0 24px;
    padding-bottom: 3px;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: all 300ms ease;
}

h5{
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(100, 21, 255);
    font-weight: 700;
    letter-spacing: 1.6px;
    margin: 0px 0px 16px;
}


.container{
    margin: 0 48px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#quality .row,
#steps .row,
#values .row,
#testimonials .row{
    display: flex;
    align-items: center;
    padding: 96px 0px 96px 0px;
}

#quality figure,
#steps figure,
#values figure,
#testimonials figure{
    width: 50%;
}

#quality img,
#steps img,
#values img,
#testimonials img{
    width: 100%;   
}

.purple{
    color: rgb(100, 21, 255);
}

.btn{
    margin-top: 32px;
    background-color: rgb(100, 21, 255);
    border: none;
    color: white;
    font-size: 0.875rem;
    padding: 12px 32px;
    border-radius: 9999px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;

}

.btn:hover{
    background-color: rgb(69, 12, 184);
}


/*

navbar

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto;
}

.nav__logo--wrapper{
    display: flex;
    align-items: center;
    font-weight: 900;
    color: rgb(36, 62, 99);
    font-size: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 300ms ease;
}
.nav__logo--wrapper:hover{
    color: rgb(100, 21, 255);
}

.nav__logo{
    width: 40px;
    margin-right: 8px;
}

.nav__link{
    
    color: rgb(36, 62, 99);
    
}

.nav__link:hover{
    color: rgb(100, 21, 255);
    border-bottom: 2px solid rgb(100, 21, 255);
}

.nav__link--secondary{
    display: flex;
    margin-left: 48px;
    align-items: center;
}

.nav__link--btn{
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    border-radius: 9999px
}

.nav__link--btn:hover{
    background-color: rgb(69, 12, 184);
}

/*

header

*/

header .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0 96px 0;
}

.header__description{
    width: 40%;
}

.header__title{
    font-size: 48PX;
    color: rgb(26, 32, 44);
}

.header__para{
    font-size: 18px;
    color: rgb(36, 62, 99);
    margin: 32px 0;
    line-height: 24px;
}

.header__input--wrapper{
    position: relative;
    max-width: 448px;
    margin: 40px 0;
}

.header__input{
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-size: 100%;
    outline: none;
    width: 100%;
    transition: all 300ms ease;
}

.header__input:hover{
    border-color:  rgb(160, 174, 192) ;
}

.header__input::placeholder{
    opacity: .5;
}

.header__btn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 100%;
    margin-right: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.header__btn:hover{
    background-color: rgb(69, 12, 184);
}

.customers__wrapper{
    margin-top: 80px;
}

.customers__para{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
}

.customers__img{
    width: 80%;
    opacity: 0.5;
    margin-top: 16px;
}

.header__img--wrapper{
    width: 60%;
}

.header__img{
    width: 100%;
}


/*

Features

*/

#features .row{
    padding: 96px 0px 96px 0px;
    text-align: center;
}

#features h1{
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
}

#features p{
    font-size: 18px;
    max-width: 576px;
    margin: 0 auto;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.625;
    margin-bottom: 40px;
}

.services__grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__wrapper{
    width: calc(100% / 3) ;
    max-width: 384px;
}

.services{
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 0 16px;
    padding: 32px 8px;
}

.imageContainer{
    border: 1px solid rgb(226, 232, 240);
    text-align: center;
    border-radius: 9999px;
    flex-shrink: 0;
    padding: 20px;
}

.textContainer{
    margin-left: 16px;
    margin-top: 8px;
    max-width: 200px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .4px;
    color: #243e63;
}

.description{
    margin: 16px 0px 0px;
    font-size: 16px;
    line-height: 2;
}

/*


quality

*/

#quality .row{
    justify-content: center;
}

#quality h1{
    max-width: 600px;
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    margin-top: 16px;
    line-height: 1.25;
}

#quality p{
    font-size: 18px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
}


#quality img{
    border: 1px solid rgba(0, 0, 0, .1);
}

.quality__description--wrapper{
    width: 50%;
    margin: 64px;
}

/*

step 

*/

#steps .row{
    justify-content: space-between;
}

#steps p{
    margin-top: 12px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}

#steps h1{
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
    margin-top: 16px;
    line-height: 1.25;
    max-width: 600px;
}

.steps__description--wrapper{
    margin-left: 48px;
    width: 48%;
}

.steps__description{
    margin-top: 48px;
}

.steps{
    display: flex;
    margin-top: 32px;
}

.steps__number{
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
}

.steps__container{
    margin-left: 24px;
}

.steps__description--title{
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
}
 
/*

Values

*/

#value .row{
    justify-content: center;
}

#values h1{
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    line-height: 1.25;
    margin-top: 16px;
    max-width: 500px;
}

#values p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 130, 161);
    margin-top: 32px;
    line-height: 1.625;
}

.values__description{
    width: 50%;
}

.values__description--wrapper{
    display: flex;
    margin-top: 32px;
}

.values__container{
    margin-right: 32px;
}

.values__title--wrapper{
    display: flex;
    align-items: center;
}

.values__affordable--logo,
.values__progessionalism--logo{
    
    padding: 8px;
    border-width: 0px;
    border-radius: 9999px;
    display: inline-block;
    flex-shrink: 0;
}

.values__affordable--title{
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
    color: rgb(36, 62, 99);
}


.values__affordable--logo{
    background-color: rgb(154, 230, 180);
    color: rgb(39, 103, 73);
}
.values__progessionalism--logo{
    background-color: rgb(254 178 178);
    color: rgb(155 44 44);
}


/*v how does this makes sense?*/
#values .values__para{
    text-align: left;
    margin-top: 16px;
    color: rgb(113, 128, 150);
    line-height: 1.625;
    font-size: 16px;
    font-weight: 500;
    max-width: 200px;
}


/*

Pricing

*/

#pricing .row{
    padding: 96px 0px 96px 0px;
    text-align: center;
}

#pricing h1{
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
}

#pricing p{
    font-size: 18px;
    max-width: 576px;
    margin: 0 auto;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.625;
    margin-bottom: 40px;
}

.pricing__container--wrapper{
    display: flex;
    justify-content: space-between;
}

.pricing__personal,
.pricing__enterprise{
    margin-right: 32px;
    margin-top: 64px;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 384px;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    padding: 8px 32px 0px 32px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.pricing__personal--detail,
.pricing__enterprise--detail{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__personal--header,
.pricing__enterprise--header,
.pricing__business--header{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing__personal--title,
.pricing__enterprise--title,
.pricing__business--title{
    font-weight: 700;
    font-size: 20px;
}

.pricing__business--price,
.pricing__enterprise--price,
.pricing__personal--price{
    font-size: 48px;
    margin: 4px 0;
    font-weight: 700;
}

.pricing__personal--duration,
.pricing__enterprise--duration,
.pricing__business--duration{
    color: rgb(160, 174, 192);
    letter-spacing: 0.1em;
    font-weight: 700;
}

.pricing__personal--description,
.pricing__enterprise--description,
.pricing__business--description{
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
    padding: 32px;
    margin-left: -32px;
    margin-right: -32px;
}

.pricing__personal-desc--title,
.pricing__enterprise-desc--title,
.pricing__business-desc--title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.025rem;
    margin-top: 0px;
}

.pricing__personal-desc--subtitle,
.pricing__enterprise-desc--subtitle,
.pricing__business-desc--subtitle{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(113 128 150);
}

.pricing__personal-btn--wrapper,
.pricing__enterprise-btn--wrapper,
.pricing__business-btn--wrapper{
    padding: 32px 64px;
}

.pricing__personal--btn{
    background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
    width: 100%;
    border: none;
    border-radius: 9999px;
    color: rgb(247 250 252);
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.pricing__personal--btn:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.pricing__business{
    margin-right: 2rem;
    margin-top: 4rem;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-image: linear-gradient( 135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100% );
    padding: 0.5rem 2rem 0 2rem;
    color: white;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__business--description{
    border-top: 2px solid rgb(102 126 234);
    border-bottom: 2px solid rgb(102 126 234);
}

.pricing__business--duration{
    color: white;
}

.pricing__business-desc--subtitle{
    color: rgb(226 232 240);
}

.pricing__business--btn{
    background: rgb(247 250 252);
    width: 100%;
    border: none;
    border-radius: 9999px;
    color: rgb(100 21 255);
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
}

.pricing__business--btn:hover{
    transform: scale(1.01);
    background-color: #e4e4e4;
    color: #1c157a;
}

.pricing__enterprise--detail{
    background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}


.pricing__enterprise--btn{
    background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
    width: 100%;
    border: none;
    border-radius: 9999px;
    color: rgb(247 250 252);
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
}

.pricing__enterprise--btn:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

/*

Tesimonials

*/

#testimonials .row{
    justify-content: center;
}

#testimonials .description{
    width: 50%;
    padding-left: 64px;
}

#testimonials h1{
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
    letter-spacing: 0.025em;
}

.description__para{
    margin-top: 1.5rem;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
}

.testimonial__description{
    margin-top: 40px;

}

.ratting__wrapper{
    margin-bottom: 20px;
    color: rgb(246, 173, 85);
}

.testimonial__title{
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
}

.testimonial__title--para{
    margin-bottom: 2.5rem;
    margin-top: 16px;
    font-weight: 500;
    color: rgb(74, 85, 104);
    line-height: 1.625;
}

.profile{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.profile__img{
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 9999px;
    max-width: 100%;
}

.profile__details--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    text-align: left;
}

.tesimonial__title--name{
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
    line-height: 30px;
}

.profile__description{
    font-weight: 500;
    color: rgb(124, 139, 161);
}

/*

FAQS

*/

#faqs .row{
    padding: 6rem 0px 6rem 0px;
    text-align: center;
}

#faqs h1{
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
}

#faqs p{
    font-size: 18px;
    max-width: 576px;
    margin: 0 auto;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.625;
    margin-bottom: 40px;
}

.faqs__list--wrapper{
    position: relative;
    margin-top: 48px;
    max-width: 896px;
    margin: 0 auto;
}

.faqs__list{
    padding: 16px 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(237, 242, 247);
    color: rgb(45, 55, 72);
    cursor: not-allowed;
    transition: all 300ms ease;
}

.faqs__list:hover{
    background-color: rgb(216, 220, 226);
}

.faqs__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqs__text--para{
    font-size: 20px;
    font-weight: 600;
}

/*

feather icons

*/

.feather-24{
    width: 20px;
    height: 20px;
}