@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

/*

General


*/

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}


a{
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0 24px;
    padding-bottom: 3px;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: all 300ms ease;
}



.container{
    margin: 0 48px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

span{
    color: rgb(100, 21, 255);
}



/*

navbar

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto;
}

.nav__logo--wrapper{
    display: flex;
    align-items: center;
    font-weight: 900;
    color: rgb(36, 62, 99);
    font-size: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 300ms ease;
}
.nav__logo--wrapper:hover{
    color: rgb(100, 21, 255);
}

.nav__logo{
    width: 40px;
    margin-right: 8px;
}

.nav__link{
    
    color: rgb(36, 62, 99);
    
}

.nav__link:hover{
    color: rgb(100, 21, 255);
    border-bottom: 2px solid rgb(100, 21, 255);
}

.nav__link--secondary{
    display: flex;
    margin-left: 48px;
    align-items: center;
}

.nav__link--btn{
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    border-radius: 9999px
}

.nav__link--btn:hover{
    background-color: rgb(69, 12, 184);
}

/*

header

*/

header .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0 96px 0;
}

.header__description{
    width: 40%;
}

.header__title{
    font-size: 48PX;
    color: rgb(26, 32, 44);
}

.header__para{
    font-size: 18px;
    color: rgb(36, 62, 99);
    margin: 32px 0;
    line-height: 24px;
}

.header__input--wrapper{
    position: relative;
    max-width: 448px;
    margin: 40px 0;
}

.header__input{
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-size: 100%;
    outline: none;
    width: 100%;
    transition: all 300ms ease;
}

.header__input:hover{
    border-color:  rgb(160, 174, 192) ;
}

.header__input::placeholder{
    opacity: .5;
}

.header__btn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 100%;
    margin-right: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.header__btn:hover{
    background-color: rgb(69, 12, 184);
}

.customers__wrapper{
    margin-top: 80px;
}

.customers__para{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
}

.customers__img{
    width: 80%;
    opacity: 0.5;
    margin-top: 16px;
}

.header__img--wrapper{
    width: 60%;
}

.header__img{
    width: 100%;
}